@charset"utf-8";


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

contents {
    width: 450px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

#contents_guide {
    width: 90%;
    height: 95%;
    border: 1px solid #000;
}

.contents_guide_top {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}




.contents_guide_mid {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contents_guide_mid > .contents_guide_mid_box {
    width: 96%;
    height: 30%;
    margin: 10px 0 0;
    border-radius: 10px;
    padding: 10px;
}

.contents_guide_mid > .contents_guide_mid_box > .contents_guide_mid_box_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
}

.contents_guide_mid > .contents_guide_mid_box > .contents_guide_mid_box_list {
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 60px;
    margin: 20px 0 0;
    display: flex;
    line-height: 35px;
}

.contents_guide_bottom {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contents_guide_bottom > button {
    padding: 10px 50px;
}
