@charset"utf-8";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#333;
   }

body {
    box-sizing: border-box;

}

#wrap {
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

contents {
    width: 450px;
    margin:1% 10% 0;
    height: 99%;
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    align-items: center;
}


#contents_guide {
    width: 100%;
    height: 100%;
}

.contents_guide_top {
    width: 100%;
    height: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.contents_guide_top > .page {
    font-size: 17px;
    line-height: 30px;
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
}

.contents_guide_top > .page > img {
    width: 17px;
    height:27px;
    line-height:17px;
    margin:3px 0 0 0;

}

.contents_guide_top > .f_name > p {
    font-size: 17px;
    font-weight: bold;
}

.contents_guide_top > .ham {
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin:0 0 15px 0;
}

.contents_guide_top > .ham > img {
    width: 17px;
    height:17px;
}


.contents_guide_mid {
    width: 100%;
    height: 100vh;
    margin:10px 0 0;
}

.contents_guide_mid > .message_list_1 {
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.contents_guide_mid > .message_list_1 > p {
    color: #666;
    font-size: 15px;
}

.contents_guide_mid > .message_list_2 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;

}

.contents_guide_mid > .message_list_2 > .message_list_pic {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.contents_guide_mid > .message_list_2 > .message_list_pic img{
    width:100%;
    height:100%;
}

.contents_guide_mid > .message_list_2 > .message_list_contents {
    width: 80%;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.contents_guide_mid > .message_list_2 > .message_list_contents > .message_list_contents_name {
    width: 100%;
    height: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contents_guide_mid > .message_list_2 > .message_list_contents > .message_list_contents_name > p {
    font-size: 14px;
    color: #666
}

.contents_guide_mid > .message_list_2 > .message_list_contents > .message_list_contents_talk {
    width: auto;
    height: auto;
    background-color: dimgray;
    border-radius: 0 22px 22px 22px;
    padding: 10px 20px 0;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_2 > .message_list_contents > .message_list_contents_talk:nth-child(3) {
    margin: 10px 0 0;
}

.contents_guide_mid > .message_list_3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_3 > .message_list_contents {
    width: auto;
    height: auto;
    border-radius: 22px 0 22px 22px;
    background-color: dodgerblue;
    padding: 10px 20px;
}

.contents_guide_mid > .message_list_4 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;

}

.contents_guide_mid > .message_list_4 > .message_list_pic {
    width: 60px;
    height: 60px;
    
    border-radius: 50px;

}

.contents_guide_mid > .message_list_4 > .message_list_contents {
    width: 80%;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.contents_guide_mid > .message_list_4 > .message_list_contents > .message_list_contents_name {
    width: 100%;
    height: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contents_guide_mid > .message_list_4 > .message_list_contents > .message_list_contents_name > p {
    font-size: 14px;
    color: #666
}

.contents_guide_mid > .message_list_4 > .message_list_contents > .message_list_contents_talk {
    width: auto;
    height: auto;
    background-color: dimgray;
    border-radius: 0 22px 22px 22px;
    padding: 10px 20px 0;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_5 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_5 > .message_list_contents {
    width: auto;
    height: auto;
    border-radius: 22px 0 22px 22px;
    background-color: dodgerblue;
    padding: 10px 20px;
}

.contents_guide_mid > .message_list_6 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;

}

.contents_guide_mid > .message_list_6 > .message_list_pic {
    width: 60px;
    height: 60px;
   
    border-radius: 50px;

}

.contents_guide_mid > .message_list_6 > .message_list_contents {
    width: 80%;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.contents_guide_mid > .message_list_6 > .message_list_contents > .message_list_contents_name {
    width: 100%;
    height: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contents_guide_mid > .message_list_6 > .message_list_contents > .message_list_contents_name > p {
    font-size: 14px;
    color: #666
}

.contents_guide_mid > .message_list_6 > .message_list_contents > .message_list_contents_talk {
    width: auto;
    height: auto;
    background-color: dimgray;
    border-radius: 0 22px 22px 22px;
    padding: 10px 20px 0;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_6 > .message_list_contents > .message_list_contents_talk:nth-child(3) {
    margin: 10px 0 0;
}

.message_list_contents_talkbox > a {
    color: #fff;
    font-style: none;
    text-decoration: none;
}


.message_list_6 > .message_list_contents > img {
    width: 100%;
    border-radius: 22px;
    margin: 10px 0 0;
}

.image{
    color:#666;
    text-decoration: none;
    font-style:bold;    
}

.image:hover{
    color:blue;
    text-decoration: none;
    font-style:bold;    
}

/*반짝이 효과*/
.blinking{
  -webkit-animation:blink 1.5s ease-in-out infinite alternate;
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}



