@charset"utf-8";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    box-sizing: border-box;

}

#wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

contents {
    width: 450px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contents_guide {
    width: 100%;
    height: 100%;
}

.contents_guide_top {
    width: 100%;
    height: 7%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.contents_guide_top > .page {
    font-size: 27px;
    line-height: 30px;
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
}

.contents_guide_top > .page > img {
    width: 27px;

}

.contents_guide_top > .f_name > p {
    font-size: 20px;
    font-weight: bold;
}

.contents_guide_top > .ham {
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.contents_guide_top > .ham > img {
    width: 35px;
}


.contents_guide_mid {
    width: 100%;
    height: 87%;
    background: #eee;
}

.contents_guide_mid > .message_list_1 {
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.contents_guide_mid > .message_list_1 > p {
    color: #666;
    font-size: 15px;
}

.contents_guide_mid > .message_list_2 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;

}

.contents_guide_mid > .message_list_2 > .message_list_pic {
    width: 60px;
    height: 60px;
    background: pink;
    border-radius: 50px;

}

.contents_guide_mid > .message_list_2 > .message_list_contents {
    width: 80%;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.contents_guide_mid > .message_list_2 > .message_list_contents > .message_list_contents_name {
    width: 100%;
    height: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contents_guide_mid > .message_list_2 > .message_list_contents > .message_list_contents_name > p {
    font-size: 14px;
    color: #666
}

.contents_guide_mid > .message_list_2 > .message_list_contents > .message_list_contents_talk {
    width: auto;
    height: auto;
    background-color: dimgray;
    border-radius: 0 22px 22px 22px;
    padding: 10px 20px;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_2 > .message_list_contents > .message_list_contents_talk:nth-child(3) {
    margin: 10px 0 0;
}

.contents_guide_mid > .message_list_3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_3 > .message_list_contents {
    width: auto;
    height: auto;
    border-radius: 22px 0 22px 22px;
    background-color: dodgerblue;
    padding: 10px 20px;
}

.contents_guide_mid > .message_list_4 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;

}

.contents_guide_mid > .message_list_4 > .message_list_pic {
    width: 60px;
    height: 60px;
    background: pink;
    border-radius: 50px;

}

.contents_guide_mid > .message_list_4 > .message_list_contents {
    width: 80%;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.contents_guide_mid > .message_list_4 > .message_list_contents > .message_list_contents_name {
    width: 100%;
    height: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contents_guide_mid > .message_list_4 > .message_list_contents > .message_list_contents_name > p {
    font-size: 14px;
    color: #666
}

.contents_guide_mid > .message_list_4 > .message_list_contents > .message_list_contents_talk {
    width: auto;
    height: auto;
    background-color: dimgray;
    border-radius: 0 22px 22px 22px;
    padding: 10px 20px;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_5 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: #fff;
    line-height: 24px;
}

.contents_guide_mid > .message_list_5 > .message_list_contents {
    width: auto;
    height: auto;
    border-radius: 22px 0 22px 22px;
    background-color: dodgerblue;
    padding: 10px 20px;
}

.contents_guide_mid > .message_list_6 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;

}

.contents_guide_mid > .message_list_6 > .message_list_pic {
    width: 60px;
    height: 60px;
    background: pink;
    border-radius: 50px;

}

.contents_guide_mid > .message_list_6 > .message_list_contents {
    width: 80%;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.contents_guide_mid > .message_list_6 > .message_list_contents > .message_list_contents_name {
    width: 100%;
    height: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contents_guide_mid > .message_list_6 > .message_list_contents > .message_list_contents_name > p {
    font-size: 14px;
    color: #666
}

.contents_guide_mid > .message_list_6 > .message_list_contents > .message_list_contents_talk {
    width: auto;
    height: auto;
    background-color: dimgray;
    border-radius: 0 22px 22px 22px;
    padding: 10px 20px;
    color: #fff;
    line-height: 24px;
}
.message_list_contents_talkbox:hover{
    cursor: pointer;
}
.contents_guide_mid > .message_list_6 > .message_list_contents > .message_list_contents_talk:nth-child(3) {
    margin: 10px 0 0;

}



.message_list_6 > .message_list_contents > img {
    width: 100%;
    border-radius: 22px;
    margin: 10px 0 0;
}


.contents_guide_bottom {
    width: 100%;
    height: 6%;
    background: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contents_guide_bottom > img {
    width: 100%;
    height: 100%;
}

  /*  모달창  */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;

    /* 숨기기 */
    z-index: ;
    opacity: ;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;

}

.window {
    position: relative;
    width: 100%;
    height: 100%;

}

.popup {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* 임시 지정 */
    width: 87%;
    height: 80%;
    



    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -70%);
}
.popup > p {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    line-height:40px
   }

.list{
    width:100%;
    margin:0 30px 0 0;
    font-weight: bold;
    font-size: 20px;
}

.list>ul>li{
    background: #fff;
    margin:10px;
    border-radius: 10px;
    padding:10px 20px;
}



.popup > .answer_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.popup > .answer_box >#answer_yes,#answer_no{
    width:100%;
    height:60px;
    background-color: darkblue;
    border-radius:10px;
    border:none;
    margin:5px;
    color:#fff;
    font-weight: bold;
    font-size:20px;
    }

.popup > .answer_box > a{
    color:#fff;
    width:100%;
    height:60px;
    background:darkblue;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.show .popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}




