@charset"utf-8";


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

contents {
    width: 450px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:bisque;
}

#contents_guide {
    width: 100%;
    height: 95%;

}

.contents_guide_top {
    width: 100%;
    height: 30%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.contents_guide_top > span {
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.contents_guide_top > p {
    font-size: 20px;
}

.contents_guide_mid {
    width: 100%;
    height: 61%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.contents_guide_mid > .contents_guide_mid_box {
    width: 100%;
    height: 120px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contents_guide_mid > .contents_guide_mid_box > a {
    width: 96%;
    height: 70px;
    background-color:darkslateblue;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    color: #fff;
}






.contents_guide_mid > .contents_guide_mid_box > a > .mid_box_space_between {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}



.contents_guide_mid > .contents_guide_mid_box > a:hover {
    background: cornflowerblue;
}



.contents_guide_mid > .contents_guide_mid_box > a > p {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.contents_guide_bottom {
    width: 100%;
    height: 12%;
    background: ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contents_guide_bottom > .contents_guide_bottom_box {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #333;
    border-radius: 20px;
    
}

.contents_guide_bottom > .contents_guide_bottom_box > .contents_guide_bottom_box_img > img{
    width: 60px;
    height: 60px;
    
    border-radius: 10px;
}